<form method="post" action="{{ path('admin_gestion_formation_formation_dispensee_delete', {'id': formation_dispensee.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ formation_dispensee.id) }}">
    <button class="btn">Delete</button>
</form>
