{% extends 'base.html.twig' %}

{% block title %}Edit FormationDispensee{% endblock %}

{% block body %}
    <h1>Edit FormationDispensee</h1>

    {{ include('admin_gestion_formation_formation_dispensee/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_gestion_formation_formation_dispensee_index') }}">back to list</a>

    {{ include('admin_gestion_formation_formation_dispensee/_delete_form.html.twig') }}
{% endblock %}
