{% import "macros/breadcrumb.html.twig" as utils %}

{% extends 'admin/base.html.twig' %}

{% block breadcrumb %}
{{ utils.breadcrumb('Create New User',[
{
path:path('user_index'),
name:'Manage users'
}
])}}
{% endblock %}

{% block title %}New User{% endblock %}

{% block body %}
<div class="card card-outline card-primary">
    <div class="card-header">
        <h3>Create new User</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                {{ include('admin/user/_form.html.twig') }}
                <a href="{{ path('user_index') }}">back to list</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
<script>
    $(document).ready(function(){
       $(document).on('click','#new-social',function(){
          let prototype = $('#user_socials').data('prototype')
          let counter =$('#user_socials').children().length
          let newSocial = prototype.replace(/__name__/g,counter)
          let btnDelete = $('<button type="button" class="btn btn-delete-social btn-danger">Delete</button>')
          let item = $('<div></div>')
          item.append(newSocial)
          item.append(btnDelete)
          $('#user_socials').append(item)
       })
       $(document).on('click','.btn-delete-social',function(){
           //supprimer l'element parent
           $(this).parent().remove()
       })
    })
</script>
{% endblock %}