<form method="post" action="{{ path('admin_gestion_investissement_investissement_delete', {'id': investissement.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ investissement.id) }}">
    <button class="btn">Delete</button>
</form>
