{% extends 'admin/base.html.twig' %}

{% block title %}New FormationOption{% endblock %}

{% block body %}
    <h1>Create new FormationOption</h1>

    {{ include('admin/formation_option/_form.html.twig') }}

    <a href="{{ path('app_admin_formation_option_index') }}">back to list</a>
{% endblock %}
