{% extends 'main/base.html.twig' %}

{% block title %}Hello ApplicationController!{% endblock %}

{% block body %}
	<nav class="breadcrumb breadcrumb-1 border-none  py-1 bg-2 m-0">
		<a class="breadcrumb-item" href="/">{{"Home"|trans}}</a>
		<span class="breadcrumb-item text-white active">Formations</span>
	</nav>
	<!-- Application -->
	<section id="applications" class="bg-2">
		<div class="container pt-3">
			<div class="row">
				<div class="col-xl-12">				</div>
			</div>
		</div>
	</section>

{% endblock %}
