{% import "macros/button.html.twig" as buttons %}
<form method="post" class="d-inline-block" action="{{ path('admin_caisse_delete', {'id': caisse.id}) }}" 
    onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ caisse.id) }}">
    {# <button class="btn btn-danger">Delete</button> #}
    {{ buttons.delete()}}
</form>
