<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> -->
    <link rel="shortcut icon" href="public/img/pmd-developper.png" type="image/x-icon">
    <link rel="stylesheet" href="public/css/boostrap/bootstrap.min.css">
    <!-- owl.carousel -->
    <link rel="stylesheet" href="public/css/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="public/css/owl-carousel/owl.theme.default.min.css">
    <!-- fontawesome -->
    <link rel="stylesheet" href="public/fonts/fontawesome/css/all.min.css">
    <!-- Style -->
    <link rel="stylesheet" href="public/css/pmd.css">
    <title> QUESTIONNAIRES CAHIER DE CHARGES POUR FACILITER LA CREATION DE VOTRE APPLICATION - Pmd Deveolpper - cahier de charge
    </title>
</head>

<body>
    <button onclick="topFunction()" id="btn-scroll" class="bg-3" title="Go to top"><i
            class="fa fa-arrow-circle-up fa-1x" aria-hidden="true"></i></button>

    <header class="main-header pt-1">
        <div class="container">
            <nav class="navbar  navbar-expand-lg main-nav px-0">
                <a href="#">
                    <!-- PMD Developper -->
                    <img class="img-nav" src="public/img/logo/pmd-developper.png" alt="">
                </a>
                <div class="collapse navbar-collapse" id="mainMenu">

                    <ul class="navbar-nav ml-auto text-uppercase f1">
                        <li>
                            <a href="index.html">home</a>
                        </li>
                        <li>
                            <a href="#services">services</a>
                        </li>
                        <!-- <li>
                            <a href="#creations">Creations</a>
                        </li> -->
                        <li>
                            <a href="#team">team</a>
                        </li>
                        <li>
                            <a href="about.html">about us</a>
                        </li>
                        <li>
                            <a href="contact.html">contact</a>
                        </li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenu"
                    aria-controls="mainMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar icon-bar-1"></span>
                    <span class="icon-bar icon-bar-2"></span>
                    <span class="icon-bar icon-bar-3"></span>

                </button>
            </nav>
        </div>
        <!-- /.container -->
    </header>
    <main>
        <nav class="breadcrumb breadcrumb-1 border-none  py-1 bg-2 m-0">
            <a class="breadcrumb-item" href="#">Home</a>
            <span class="breadcrumb-item text-white active">Cahier de charge</span>
        </nav>
        <div class="container-fluid header-cv bg-2">
            <p class="text-center mb-0 py-1">QUESTIONNAIRES CAHIER DE CHARGES POUR FACILITER LA CREATION DE VOTRE
                APPLICATION</p>
        </div>
        <div class="container my-5">
            <div class="document cahier-de-charge">
                <div class="">
                    <h3 class="title">QUESTIONNAIRES CAHIER DE CHARGES POUR FACILITER LA CREATION DE VOTRE
                        APPLICATION</h3>
                </div>
                <div class="container">
                    <div id="questionnaire">
                        <fieldset>
                            <div class="row">
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">1) Quel genre d’application voulez-vous ?</label>
                                        <div class="question-content ">
                                            <div class="question-item question-1">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="app-genre"
                                                        id="mobile" value="mobile">
                                                    <label class="form-check-label label-2" for="mobile">
                                                        Application mobile
                                                    </label>
                                                </div>
                                                <div class="reponse ">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="mobile"
                                                            id="android" value="Android">
                                                        <label class="form-check-label label-2" for="android">
                                                            Andorid
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="mobile"
                                                            id="aos" value="Aos">
                                                        <label class="form-check-label label-2" for="aos">
                                                            Aos
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio" name="mobile"
                                                            id="hybrides" value="Hybrides">
                                                        <label class="form-check-label label-2" for="hybrides">
                                                            Les deux (hybrides)
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-item question-2">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="app-genre"
                                                        id="web" value="option1">
                                                    <label class="form-check-label label-2" for="web">
                                                        Application web
                                                    </label>
                                                </div>
                                                <div class="reponse">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="web-app" id="site-vitrine" value="option1">
                                                        <label class="form-check-label label-2" for="site-vitrine">
                                                            Un site vitrine
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="web-app" id="portofolio" value="option1">
                                                        <label class="form-check-label label-2" for="portofolio">
                                                            Un portfolio
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="web-app" id="e-commerce" value="option1">
                                                        <label class="form-check-label label-2" for="e-commerce">
                                                            Un site de vente en ligne (e-commerce)
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="web-app" id="app-web-autre" value="web-autre">
                                                        <label class="form-check-label label-2" for="app-web-autre">
                                                            Autres
                                                        </label>
                                                        <div class="form-group reponse-autre web-autre container">
                                                            <textarea class="form-control" name="" id=""
                                                                rows="3"></textarea>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-item question-3">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="app-genre"
                                                        id="bureau" value="option1">
                                                    <label class="form-check-label label-2" for="bureau">
                                                        Application de bureau(desktop)
                                                    </label>
                                                </div>
                                                <div class="reponse">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="bureau-app" id="system-information"
                                                            value="option1">
                                                        <label class="form-check-label label-2"
                                                            for="system-information">
                                                            Gestion de système d’information
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="bureau-app" id="comptabilite" value="option1">
                                                        <label class="form-check-label label-2" for="comptabilite">
                                                            Comptabilité
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="bureau-app" id="facture" value="option1">
                                                        <label class="form-check-label label-2" for="facture">
                                                            Gestion des factures
                                                        </label>
                                                    </div>
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="radio"
                                                            name="bureau-app" id="q-1-autre" value="bureau-autre">
                                                        <label class="form-check-label label-2" for="q-1-autre">
                                                            Autres
                                                        </label>
                                                        <div class="reponse-autre bureau-autre">
                                                            <div class="form-group container">
                                                                <textarea class="form-control"   rows="3"></textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                        id="erp" value="option1">
                                                    <label class="form-check-label label-2" for="erp">
                                                        ERP ( application d’entreprise) est un progiciel qui permet « de
                                                        gérer l'ensemble des processus d'une entreprise en intégrant
                                                        l'ensemble de ses fonctions, dont la gestion des ressources
                                                        humaines, la gestion comptable et financière, l'aide à la
                                                        décision, mais aussi la vente, la distribution,
                                                        l'approvisionnement et le commerce électronique »
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <input class="form-check-input" type="checkbox" name="exampleRadios"
                                                        id="autre-question-1" value="option1">
                                                    <label class="form-check-label label-2" for="autre-question-1">
                                                        Autres
                                                    </label>
                                                </div>
                                                <div class="reponse-autre autre-question-1">
                                                    <div class="form-group">
                                                        <textarea class="form-control" name="" id=""
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">2) Quel est l’objectif de votre site ?</label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">3) Quels sont vos concurrents ? </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">4) Quelles sont vos cibles ? </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">5) Quelles sont les questions que vous posent les clients
                                            ? </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">6) Les fonctionnalités de votre site </label>
                                        <p>Il s'agit ici de lister les principales fonctionnalités que vous souhaitez
                                            mettre en place sur :</p>
                                        <div class="question-content">
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name=""
                                                            value="checkedValue" >
                                                        Une zone d'actualité (ex : billet blog)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" />
                                                        Un moteur de recherche
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue">
                                                        Un agenda
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input"  value="checkedValue" >
                                                        Lettre d'information (newsletter)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue">
                                                        Un annuaire
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Un auto répondeur (automate)
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Des pages de ventes automatisées
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Une page google map
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Une galerie photos
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Une galerie vidéos
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input type="checkbox" class="form-check-input" name="" id=""
                                                            value="checkedValue" >
                                                        Un espace réservé
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="question-item">

                                                <div>
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input type="checkbox" class="form-check-input" name="" id="autre-question-6"
                                                                value="checkedValue" >
                                                            Autre
                                                        </label>
                                                    </div>
                                                    <div class="form-group reponse-autre autre-question-6">
                                                        <textarea class="form-control" name="" id="" required
                                                            rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">7) Avez-vous des sites références au moins ? </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" required rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">8) Nom de domaine </label>
                                        <div class="question-content">
                                            <p>Le nom de domaine est une « adresse », un « nom » qui permet de retrouver
                                                facilement Votre site internet. Ex : www.monnom.com</p>
                                            <p>Veuillez indiquer ci-contre le nom de domaine que vous souhaitez réserver
                                                : *selon la disponibilité :</p>
                                            <div class="form-group">
                                                <textarea class="form-control" required rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">9) Le référencement </label>
                                        <div class="question-content">
                                            <p>Le référencement consiste à améliorer et consolider le positionnement de
                                                votre site sur internet dans les résultats d'une requête effectuée dans
                                                un moteur de recherche.<br />
                                                Lors de la création d'un site, vous créez un référencement naturel de
                                                manière très efficace.<br />
                                                Vous pouvez également demander un référencement spécifique c'est à dire
                                                Référencer le site dans plusieurs annuaires bien précis.
                                            </p>
                                            <div class="form-group">
                                                <textarea class="form-control" required rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">10) Une particularité, une spécialité, un évènement,
                                            quelque chose de particulier qui caractérise votre activité ou vos
                                            créations. </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" required rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="question">
                                        <label class="label-1">11) Autres suggestions et questions : </label>
                                        <div class="question-content">
                                            <div class="form-group">
                                                <textarea class="form-control" required rows="3"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <div class="row">
                                        <div class="col-md-3 col-6 mx-auto my-3">
                                            <button class="btn btn-2">
                                                Envoyer
                                                <i class="fa fa-envelope" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 col-12">
                                    <h5>
                                        Pour tous renseignements complémentaires n'hésitez pas à nous contacter <a
                                            href="contact.html">ici</a> :
                                    </h5>
                                    <p>
                                        Par téléphone : +221 78 127 82 88 / +221 77 043 12 25 / +221 77 237 53 69
                                        (SENEGAL)
                                    </p>
                                </div>
                            </div>

                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="footer-10">
        <div class="container">
            <div class="row mb-5 pb-3 no-gutters">
                <div class="col-md-4 mb-md-0  d-flex">
                    <div data-aos="zoom-in" class="con con-1 bg-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>+221 78 127 82 88 </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 d-flex">
                    <div data-aos="zoom-in-up" class="con con-2 bg-3 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center   justify-content-center">
                                <i class="fa fa-envelope" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>contact@pmd-developper.com</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-md-0 d-flex">
                    <div data-aos="zoom-in-down" class="con con-3 bg-2 w-100 py-5">
                        <div class="con-info w-100 text-center">
                            <div class="icon d-flex align-items-center justify-content-center">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                            </div>
                            <div class="text">
                                <span>Dakar sacré couer 2, Sénégal</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-5">
                <div class="col-md-8 mx-auto">
                    <div class="row">
                        <div class="col-md-6 mb-md-0 mb-4">
                            <h2 class="footer-heading">A propos</h2>
                            <ul class="list-unstyled">
                                <li><a href="about.html/#about" class="d-block">Out story</a></li>
                                <li><a target="_blank" href="public/doc/Conditions générales d'utilisation-1.pdf"
                                        class="d-block">Condition d'utilisation</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6 mb-md-0 mb-4">
                            <h2 class="footer-heading">Lien utile</h2>
                            <ul class="list-unstyled">
                                <li><a href="#services" class="d-block">Our services</a></li>
                                <li><a href="contact.html" class="d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-5 mb-md-0 mb-4">
                        <h2 class="footer-heading">Subscribe</h2>
                        <form action="#" class="subscribe-form">
                            <div class="form-group d-flex">
                                <input type="text" class="form-control rounded-left" style="height: 52px"
                                    placeholder="Enter email address">
                                <button type="submit" class="form-control submit rounded-right">Subscribe</button>
                            </div>
                            <span class="subheading">Get digital marketing updates in your mailbox</span>
                        </form>
                    </div> -->
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-site-info">© 2020 - <span id="year"></span></div>
                    </div>
                    <div class="col-md-3 offset-md-6">
                        <div id="footer-socials">
                            <div class="socials inline-inside socials-colored">

                                <a href="https://www.facebook.com/malick.tounkara.50/" target="_blank" title="Facebook"
                                    class="socials-item">
                                    <i class="fab fa-facebook-f facebook"></i>
                                </a>
                                <a href="https://api.whatsapp.com/send?phone=221781278288&text=Salut, Malick j'ai eu votre contacte sur votre site :"
                                    target="_blank" title="Whatsapp" class="socials-item">
                                    <i class="fab fa-whatsapp whatsapp"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    <script src="public/js/jquery/jquery-v3.6.js"></script>


    <script src="public/js/boostrap/bootstrap.min.js"></script>
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script> -->


    <!-- owl-carousel -->
    <script src="public/js/owl-carousel/owl.carousel.min.js"></script>
    <script src="public/js/util.js"></script>

    <script src="public/js/main.js"></script>

    <script>
        $(document).ready(function () {
            $(document).on('click', '#mainMenu li a', function () {
                // this.removeClass('active')
                $('#mainMenu li a.active').removeClass('active')
                $(this).addClass('active')
            })


            // MOBILE START
            $(document).on('click', '#mobile', function () {
                $('.question-1 .reponse').toggle("slow")
            })
            // MOBILE END
            // MOBILE START
            $(document).on('click', '#autre-question-1', function () {
                $('.autre-question-1').toggle("slow")
            })
            $(document).on('click', '#autre-question-6', function () {
                $('.autre-question-6').toggle("slow")
            })
            // MOBILE END
            // WEB START
            $(document).on('click', '#web', function () {
                $('.question-2 .reponse').toggle("slow")
            })

            $(document).on('click', 'input[name="web-app"]', function () {
               let button = $(this).attr('value')
               if (button == 'web-autre') {
                $('.web-autre').show('toggle')   
               }else
               {
                $('.web-autre').hide('toggle')   
               }
            })

            $(document).on('click', 'input[name="bureau-app"]', function () {
               let button = $(this).attr('value')
               if (button == 'bureau-autre') {
                $('.bureau-autre').show('toggle')   
               }else
               {
                $('.bureau-autre').hide('toggle')   
               }
            })

            // WEB END
            // BUREAU START
            $(document).on('click', '#bureau', function () {
                $('.question-3 .reponse').toggle("slow")
            })
            // BUREAU END

        })
    </script>

</body>

</html>