{% extends 'base.html.twig' %}

{% block title %}Delete account{% endblock %}

{% block body %}
<nav class="breadcrumb">
    <a class="breadcrumb-item" href="#">Home</a>
    <span class="breadcrumb-item active">Suppresion de compte</span>
</nav>
<div class="container">
    <h3>Supprimer le compte</h3>
    <p>Nous sommes desole de vous voir partir</p>
    <form method="post" action="{{ path('delete_account_user', {'id': id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ id) }}">
    <button class="btn btn-lg btn-danger">Confirmer la suppression de mon compte</button>
</form>
</div>
{% endblock %}
