.a {
    color: #222;
}


/* loader start */

#loader-pmd {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1040;
    color: #fff;
    font-weight: bold;
    background: #010E21;
    text-align: center;
}
.loader-delete-account,
.loader-edit-email,
.alert-delete-account,
.alert-edit-email{
    display: none;
  }

  
  /* .loader {
    display: none
  } */

  .js-loader {
    z-index: 1052;
    position: fixed;
    width: 100%;
    height: 100%;
    background: #97383863;
    display: none;
    justify-content: center;
    align-items: center
  }

  .js-loader p {
    text-align: center
  }

  .js-loader-content {
    padding: 10px;
    width: 300px;
    background: #fff;
    border-radius: 15px
  }

/* loader end */


/*document start*/