/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap'); */

* {
    font-family: 'Lato', sans-serif;
}

body {
    background: #D2CAEC;
}

.bg-1 {
    background: #010E21;
    color: #fff !important;
}

.bg-2 {
    background: #011431;
}

.bg-3 {
    background: #031328ad;
}

.bg-5 {
    background: #f5f5f5f0;
}

.bg-1 a {
    color: #fff !important;
}

.bg-1 a:hover {
    color: #ff0000 !important;
}

header nav {
    height: 80px;
    font-size: 18px;
}

section {
    margin: 0;
    min-height: 100px;
    padding-bottom: 85px;
}

section h3 {
    color: #010E21;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
}

section>p {
    color: #010E21;
    padding-bottom: 30px;
    text-align: center;
    text-transform: capitalize;
}

section#services {
    background: red;
}

section#coordonee h3 {
    color: #fff;
}

section#message {
    background-image: url(../images/7.jpg);
    background-size: cover;
}

section#message h3 {
    color: #fff;
}

footer {
    padding-top: 20px;
    min-height: 100px;
    background: #010E21;
    color: #fff;
    margin-top: 20px;
}

footer .col-lg-4>p {
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}

footer .col-lg-4>ul li {
    list-style: none;
    padding-bottom: 10px;
    text-align: center;
}

footer .col-lg-12>p {
    text-align: center;
}

#services img {
    width: 200px;
    height: 200px;
}

#services h3 {
    color: #010E21;
}

#message form .col-lg-6 label {
    color: #fff;
    font-size: 20px;
    font-weight: 800;
}

#message form .col-md-4 button {
    font-size: 25px;
}

#message form .col-lg-6 span {
    color: red;
}

#coordonee .col-lg-6 .tel {
    margin-right: 20px;
    color: red;
}

#coordonee .col-lg-6 .mail {
    margin-right: 20px;
    color: red;
}

.col-lg-6 span {
    font-size: 30px;
    color: #fff;
}

.size-input {
    height: 52px;
    border-radius: 10px;
}

#message form textarea {
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

#message form .btn {
    background: #ea0505f0 !important;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
    width: 100%;
}