{% extends 'base.html.twig' %}

{% block title %}Edit QuestionCahierCharge{% endblock %}

{% block body %}
    <h1>Edit QuestionCahierCharge</h1>

    {{ include('admin_question_cahier_charge/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_question_cahier_charge_index') }}">back to list</a>

    {{ include('admin_question_cahier_charge/_delete_form.html.twig') }}
{% endblock %}
