{% extends "admin/base.html.twig" %}
{% import "macros/cards.html.twig" as cards %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="row">
    <div class="col-12 col-sm-6 col-md-3">
        {{ cards.infoBox({
            bg:'bg-warning',
            name:'Users',
            icon:'fas fa-users',
            count:1
        }) }}
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-12 col-sm-6 col-md-3">
        {{ cards.infoBox({
            path:path('admin_cahier_charge_index'),
            bg:'bg-warning',
            name:'Cahier de charge',
            icon:'fas fa-users',
            count:1
        }) }}
        <!-- /.info-box -->
    </div>
    <!-- /.col -->
</div>
{% endblock %}
{% block foot %}
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="{{ asset('js/pages/dashboard.js') }}"></script>
{% endblock %}