{% macro etat(etat) %}
    {% if etat == 'En cour' %}
        <span class="badge m-1 font-weight-bold badge-primary">{{etat}}</span>
        {% elseif etat == 'Annuller' %}
        <span class="badge m-1 font-weight-bold badge-danger">{{etat}}</span>
    {% endif %}
{% endmacro %}