<form method="post" action="{{ path('admin_gestion_formation_pointage_delete', {'id': pointage.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ pointage.id) }}">
    <button class="btn">Delete</button>
</form>
