{% extends 'base.html.twig' %}

{% block title %}Edit Pointage{% endblock %}

{% block body %}
    <h1>Edit Pointage</h1>

    {{ include('admin_gestion_formation_pointage/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_gestion_formation_pointage_index') }}">back to list</a>

    {{ include('admin_gestion_formation_pointage/_delete_form.html.twig') }}
{% endblock %}
