{% extends 'base.html.twig' %}

{% block title %}New Client{% endblock %}

{% block body %}
    <h1>Create new Client</h1>


    <a href="{{ path('projet_show',{'id':projet.id}) }}">back to list</a>
{% endblock %}
