{% extends 'admin/base.html.twig' %}

{% block title %}Edit Projet
{% endblock %}

{% block body %}
	<h1>Edit Projet</h1>


	<a href="{{ path('projet_index',{'id':projet.id}) }}">Retour sur la visualisation du proejt</a>
	<a href="{{ path('projet_index',{'id':projet.id}) }}">Liste des projet</a>

{% endblock %}
