{% extends 'base.html.twig' %}

{% block title %}New AvancePaiement{% endblock %}

{% block body %}
    <h1>Create new AvancePaiement</h1>

    {{ include('admin_gestion_projet_avance_paiement/_form.html.twig') }}

    <a href="{{ path('admin_gestion_projet_avance_paiement_index') }}">back to list</a>
{% endblock %}
