{% extends "main/base.html.twig" %}
{% block body %}
	<style></style>
	<nav class="breadcrumb breadcrumb-1 border-none  py-1 bg-2 m-0">
		<a class="breadcrumb-item" href="/">{{"Home"|trans}}</a>
		<span class="breadcrumb-item text-white active">Recherche dans notre  site</span>
	</nav>
	<!-- Application -->
	<section id="seacch">
		<div class="container pt-3">
			<div class="search">
				<p class="p-2">Rechercher dans notre site</p>
				<div class="input-group card-2">
					<input type="text" class="form-control" placeholder="Recherche">
					<button class="btn  btn-search bg-2">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-12">
					<p>Symfony</p>
					<p>Essayez avec cette orthographe : pmd developer
Le PMD est un standard international pour la formation des entrepreneurs et managers qui veulent développer leur vision globale de l'entreprise et leur rôle de leader pour faire face à des problèmes de haute direction.</p>
				</div>
				<div class="col-xl-12">
					<p>Symfony</p>
					<p>VOUS AVEZ UN PROJET ? Notre métier consiste à concevoir des logiciels sur mesure le plus souvent à la demande d'un client. Le travail débute sur la base d'un</p>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
