{% extends 'base.html.twig' %}

{% block title %}Edit Paiement{% endblock %}

{% block body %}
    <h1>Edit Paiement</h1>

    {{ include('admin_gestion_projet_paiement/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_gestion_projet_paiement_index') }}">back to list</a>

    {{ include('admin_gestion_projet_paiement/_delete_form.html.twig') }}
{% endblock %}
