{% extends 'base.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <h1>Create new Paiement</h1>

    {{ include('admin_gestion_projet_paiement/_form.html.twig') }}

    <a href="{{ path('admin_gestion_projet_paiement_index') }}">back to list</a>
{% endblock %}
