{% extends 'base.html.twig' %}

{% block title %}New PaiementFormationDispensee{% endblock %}

{% block body %}
    <h1>Create new PaiementFormationDispensee</h1>

    {{ include('admin_gestion_formation_paiement_formation_dispensee/_form.html.twig') }}

    <a href="{{ path('admin_gestion_formation_paiement_formation_dispensee_index') }}">back to list</a>
{% endblock %}
