<div class="products mb-3">
	<div class="row justify-content-center">
		{% for item in articles %}
			{% include "boutique/shop/_article.html.twig" %}
		{% else %}
			<div class=" text-center mt-5">
				<p class="h3">Aucun résulat associé à la recherche ou au filtre:</p>
				<p> elit. Ex, sint non. Ullam pariatur tempora earum ipsa in animi, consequatur numquam?</p>
			</div>
		{% endfor %}
	</div>
	<!-- End .row -->
</div>
<!-- End .products -->
<nav aria-label="Page navigation">
	{{ knp_pagination_render(articles) }}
</nav>
