{% extends 'base.html.twig' %}

{% block title %}Edit CentreFormation{% endblock %}

{% block body %}
    <h1>Edit CentreFormation</h1>

    {{ include('admin_gestion_formation_centre_formation/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_gestion_formation_centre_formation_index') }}">back to list</a>

    {{ include('admin_gestion_formation_centre_formation/_delete_form.html.twig') }}
{% endblock %}
