{% extends 'base.html.twig' %}

{% block title %}New ContratInvestissement{% endblock %}

{% block body %}
    <h1>Create new ContratInvestissement</h1>

    {{ include('admin_gestion_investissement_contrat_investissement/_form.html.twig') }}

    <a href="{{ path('admin_gestion_investissement_contrat_investissement_index') }}">back to list</a>
{% endblock %}
